{% extends 'food/base.html' %}
{% block start %}
    <div class="container mt-5 container-custom">
        <div class="row">
            {% for item in data %}
                <div class="col-md-12 mb-4">
                    <div class="item-container">
                        <img class="item-image img-fluid" src="{{item.item_image}}" alt="Item Image">
                        <div class="item-content">
                            <h3>{{item.id}}</h3>
                            <h3>{{item.item_name}}</h3>
                            <h5>{{item.item_detail}}</h5>
                            <h6>INR. {{item.item_price}}</h6>
                        </div>
                        <div class="item-content">
                            <a href="{% url 'food:detail' item.id %}" class="button-link">More Details</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock%}